{% for item in interfaces_ipv4 %}

{% if item.bootproto == "dhcp" %}
auto {{ item.name }}
iface {{ item.name }} inet dhcp

{% else %}
{% if item.vlantag %}
auto {{ item.name }}.{{ item.vlantag }}
{% else %}
auto {{ item.name }}
{% endif %}
iface {{ item.name }} inet static
  address {{ item.ipaddress }}
  gateway {{ item.gateway }}
  netmask {{ item.netmask }}
{% if item.mtu %}
  mtu {{ item.mtu }}
{% endif %}
{% if item.vlantag %}
  vlan-raw-device {{ item.name }}
{% endif %}
{% endif %}
{% endfor %} 
